<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fetch</title>
</head>
<body>

    <include file="./application/example/view/Include/header.html"/>

    <h2>I am __ROOT__/application/example/view/ViewController/tagExample.html</h2>

    <if condition="isset($_GET['id']) && $id==1">
        接收到id并且id=1
        <elseif condition="isset($_GET['id']) && $id==2"/>
        接收到id并且id=2
        <else/>
        没有接收到id
    </if>
    <table border="1">
    <foreach name='user' item='v'>
        <tr>
            <th>名字</th>
            <th>年龄</th>
        </tr>
        <tr>
            <td>{$v['name']}</td>
            <td>{$v['age']}</td>
        </tr>
    </foreach>
    </table>
    <include file="./application/example/view/Include/footer.html"/>
</body>
</html>