<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>欢迎使用 AAPHP ☺</h2>
<h3>这里是详细、简单的例子，了解更多，请阅读源码</h3>
<p>控制器：aaphp/application/example/controller/*</p>
<p>模　型：aaphp/application/example/model/*</p>
<p>验证器：aaphp/application/example/validate/*</p>
<p>视　图：aaphp/application/example/view/*</p>
<h3>控制器</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/ControllerController/index')}" target="_blank">控制器方法</a>
    </li>
</ul>

<h3>视图</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/fetchExample')}" target="_blank">获取视图</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/fetchDesignated')}" target="_blank">获取指定的视图</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/functionExample')}" target="_blank">模版中使用函数</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/assignExample')}" target="_blank">分配参数到视图</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/includeExample')}" target="_blank">引入头部和底部</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/foreachExample')}" target="_blank">循环标签例子</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/ifExample')}" target="_blank">判断标签例子</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/jsonExample')}" target="_blank">输出json</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/xss')}" target="_blank">xss 过滤</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ViewController/closeXssFilter')}" target="_blank">关闭 xss 过滤</a>
    </li>
</ul>

<h3>模型</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/insert')}" target="_blank">插入</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/update')}" target="_blank">更新</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/select')}" target="_blank">查询</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/selectOne')}" target="_blank">查询一条数据</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/delete')}" target="_blank">删除</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/limit')}" target="_blank">查询结果条数限制</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/field')}" target="_blank">查询字段</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/where')}" target="_blank">条件查询</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/order')}" target="_blank">排序</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/group')}" target="_blank">分组</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/count')}" target="_blank">统计条数</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/avg')}" target="_blank">求平均数</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/max')}" target="_blank">求最大值</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/min')}" target="_blank">求最小值</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/setField')}" target="_blank">修改单个字段</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/getField')}" target="_blank">获取单个字段</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/increase')}" target="_blank">字段数字增加</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/decrease')}" target="_blank">字段数字减少</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/chain')}" target="_blank">链式操作</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/page')}" target="_blank">分页</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ModelController/getSql')}" target="_blank">获取执行过的sql语句</a>
    </li>
</ul>

<h3>数据库</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/DatabaseController/insert')}" target="_blank">插入</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/DatabaseController/select')}" target="_blank">查询</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/DatabaseController/update')}" target="_blank">更新</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/DatabaseController/delete')}" target="_blank">删除</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/DatabaseController/bindParam')}" target="_blank">绑定参数，预处理，防止sql注入</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/DatabaseController/transaction')}" target="_blank">事务处理</a>
    </li>
</ul>

<h3>配置</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/ConfigController/common')}" target="_blank">公共配置文件操作</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ConfigController/database')}" target="_blank">数据库配置文件操作</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ConfigController/param')}" target="_blank">自定义配置文件操作</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ConfigController/router')}" target="_blank">路由配置文件操作</a>
    </li>
</ul>

<h3>请求</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/RequestController/name')}" target="_blank">获取请求相关名称</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/RequestController/param')}" target="_blank">获取请求相关参数</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/RequestController/requestParam',['name'=>'lucy','age'=>18])}" target="_blank">获取请求传参</a>
    </li>
</ul>


<h3>路由</h3>
<ul>
    <li>
        <a href="__ROOT__/index.php/router.html" target="_blank">简单路由</a>
    </li>
    <li>
        <a href="__ROOT__/index.php/get/8.html" target="_blank">正则路由</a>
    </li>
</ul>

<h3>URL</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/UrlController/index')}" target="_blank">生成url</a>
    </li>
</ul>

<h3>数据验证</h3>
<ul>
    <li>
        <a href="{:aaphp\Url::build('example/ValidateController/check')}" target="_blank">数据验证</a>
    </li>
    <li>
        <a href="{:aaphp\Url::build('example/ValidateController/csrf')}" target="_blank">csrf 跨区表单token验证</a>
    </li>
</ul>

</body>
</html>